<!-- <tr id="budget-{{ row.id }}">
  <form hx-post="{% url 'budget-save' row.id %}" 
        hx-target="#budget-{{ row.id }}" 
        hx-swap="outerHTML">

    <td>{{ form.category }}</td>
    <td>{{ form.amount }}</td>
    <td>{{ form.due_date }}</td>

    <td>
      <button class="btn btn-sm btn-success" 
              type="submit">
        Save
      </button>

      <button class="btn btn-sm btn-secondary" 
              hx-get="{% url 'budget-row' row.id %}" 
              hx-target="#budget-{{ row.id }}"
              hx-swap="outerHTML">
        Cancel
      </button>
    </td>
  </form>
</tr> -->
