<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Budget System</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/base.css' %}">

</head>

<body>
    <div class="container">

        <!-- Django messages -->
        <div class="messages">
            {% if messages %}
            {% for message in messages %}
            <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Page content -->
        {% block content %}
        {% endblock %}

    </div>
</body>

</html>